[submodule "notifications-service"]
	path = notifications-service
	url = https://github.com/InnControlUPC/notifications-service.git
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/InnControlUPC/employeesms.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/InnControlUPC/eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/InnControlUPC/api-gateway.git
