[submodule "notifications-service"]
	path = notifications-service
	url = https://github.com/InnControlUPC/notifications-service.git
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/InnControlUPC/employeesms.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/InnControlUPC/eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/InnControlUPC/api-gateway.git
[submodule "task-service"]
	path = task-service
	url = https://github.com/InnControlUPC/task-service.git
[submodule "communications-service"]
	path = communications-service
	url = https://github.com/InnControlUPC/communications-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/InnControlUPC/inventory-service.git
[submodule "accommodation-service"]
	path = accommodation-service
	url = https://github.com/InnControlUPC/accommodation-service.git
